
<div class="container">

<ul class="nav" style="background-color:aquamarine">
    <div>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('main.index') }}">Home</a>
          <a class="nav-link" href="{{ url_for('main.info') }}">About Us</a>

          {% if current_user.is_authenticated %}
          <a class="nav-link"><a href="{{url_for('auth.logout')}}">Log Out</a>
          <a class="nav-link"><a href="{{url_for('auth.account')}}">Account</a>
          <a class="nav-link"><a href="#">Create Post</a></li>

          {% else %}
          <a class="nav-link"><a href="{{url_for('auth.login')}}">Log In</a>
          <a class="nav-link"><a href="{{url_for('auth.register')}}">Register</a>
          {% endif %}
        </div>

      </ul> 


    </div>